html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body{
    overflow: auto;
}
a{
	text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
/*上导航栏*/
    .top_nav{
    	width: 1920px;
    	height: 100px;
    	background-color: #333;
    	border-bottom: 1px solid #202020;
    }
    .top_nav .nav_center{
    	width: 1000px;
    	height: 100px;
    	margin: 0 auto;
    	position: relative;
    }
    .top_nav .nav_center .img_logo{
    	position: absolute;
    	top: 19px;
    }
    .top_nav .nav_center .img_west{
    	position: absolute;
    	left: 210px;
    }
    .top_nav .nav_center .nav_center_center{
    	position: absolute;
    	left: 392px;
    }
    .top_nav .nav_center .nav_center_center ul li{
    	float: left;
    }
    .top_nav .nav_center .nav_center_center ul li a{
    	font-family: "微软雅黑";
    	font-size: 24px;
    	color: #e7e7e7;
        line-height: 100px;
    }
    .top_nav .nav_center .search{
    	width: 187px;
    	height: 35px;
        padding-left:12px; 
        padding-right:20px;
        border-radius: 7px; 
        background-color: #ccc;
        position: absolute;
        right: 100px;
        top: 32.5px;
    }
    .top_nav .nav_center .search .inputs{
    	background-color: #ccc;
    	border:none;
    	position: absolute;
    	top:8px;
    	font-size: 14px;
    	color: #999;
    }
    .top_nav .nav_center .search img{
    	position: absolute;
    	right: 20px;
    	top: 7.5px;
    }
    .top_nav .nav_center .sign{
        width: 100px;
        position: absolute;
        right: 0;
        top: 40px;
        font-size: 15px;
    }
    .top_nav .nav_center .sign span:nth-child(1){
        margin-left:12px;
    }
    .top_nav .nav_center .sign span:nth-child(2){
        margin-left:10px;
        margin-right: 4px;
    }

    .top_nav .nav_center .sign span a{
        color: #e7e7e7;
    }
    .top_nav .nav_center .sign span:nth-child(3){
        position: absolute;
        right: 0;
    }
/*下导航栏/*/
    .under_top_nav{
    	width:1920px;
    	height: 50px;
    	background-color: #333;
    	border-bottom:1px solid #e7a80c; 
    }
    .under_top_nav .under_nav_center{
    	width: 448px;
    	height: 50px;
    	margin: 0 auto;
    }
    .under_top_nav .under_nav_center ul li{
    	float: left;
    	margin-right: 46px;
    }
    .under_top_nav .under_nav_center ul li:last-child{
    	margin: 0
    }
    .under_top_nav .under_nav_center ul li a{
    	font-size: 14px;
    	color: #ededed;
    	line-height: 50px;
    	text-align: center;
    }
    .under_top_nav .under_nav_center ul li:nth-child(1){
    	display: block;
    	height: 47px;
    	margin-right: 36px;
    	line-height: 50px;
    	width: 43px;
    	text-align: center;
    	border-bottom:3px solid #e7a80c; 
    }

/*西部榜首*/
       .c_first{
        width: 1920px;
        height: 760px;
        background-image: url(../imgs/shouyetou_13.png);
        position: relative;
        }
        .bangshou{
        width: 510px;
        height: 50px;
        /*border:1px solid red;*/
        position: absolute;
        top: 70px;
        left: 711px;
        color: #d9d9d9;
        font-size: 32px;
        font-family:'微软雅黑';
        text-align: center;
       }
       .bangshou span{
        display: inline-block;
        width: 140px;
        border:0.1px solid rgb(93,93,94);
        border-top: none;
        /*background-color: rgb(31,34,39);*/
       }
       .bangshou #zibian{
        border:none;
       }
       .bangshou #xian{
        position: relative;
        top: -10px;

       }
    
       .classification ul{
        position: absolute;
        top: 155px;
        left: 773px;
        }
       .classification ul li{
        float: left;
        }
        .classification ul li a{
        float: left;
        color: #d9d9d9;
        font-size: 12px;
        margin-left: 40px;
        font-family: '微软雅黑';

        }
        .classification ul .moren1 a{
        color: #ededed;
        }
        .all {
            width: 1000px;
            height: 442px;
            /*padding: 7px;*/
            /*border: 1px solid #ccc;*/
            margin:  auto;
            position: relative;
            top: 219px;
        }

        .screen {
            width: 1000px;
            height: 370px;
            overflow: hidden;
            position: relative;
        }

        .screen li {
            width: 1000px;
            height: 370px;
            overflow: hidden;
            float: left;
        }
        .screen li img{
            float: left;
            display: inline-block;  
            overflow: hidden;
        }
        .screen ul {
            position: absolute;
            left: 0;
            top: 0px;
            width: 4000px;
        }

        .all ol {
            position: absolute;
            left: 415px;
            top:438px;
            line-height: 20px;
            text-align: center;
            z-index: 999;
        }

        .all ol li {
            float: left;
            width: 30px;
            height: 1px;
            background: #9f9fa0;
            border: 1px solid #ccc;
            margin-left: 20px;
            cursor: pointer;
            z-index: 999;
        }

        .all ol li.current {
            background: #eeeeee;
            height: 2px;
        }
        .bangshou .arr .right img{
            width: 64px;
            height: 100px;
            position: relative;
            left: 1370px;
            top: -250px;
            cursor: pointer;
            opacity: 0.5;
        }
        .bangshou .arr .left img{
            width: 64px;
            height: 100px;
            position: relative;
            right: 530px;
            top: -250px;
            cursor: pointer;
            opacity: 0.5;
            transform: rotate(180deg);
        }
        .arr .right {
            right: 5px;
            left: auto;
        }
/*歌曲推荐*/
        .c_second{
            width: 100%;
            height: 846px;
            background-color: #eeeeee;
            position: relative;
            color: #333333;
        }
        .tuijian{
        width: 510px;
        height: 50px;
        /*border:1px solid red;*/
        position: absolute;
        top: 83px;
        left: 711px;
        color: #333333;
        font-size: 32px;
        font-family:'微软雅黑';
        text-align: center;
        }
       .tuijian span{
        display: inline-block;
        width: 140px;
        border:0.1px solid rgb(93,93,94);
        border-top: none;
        /*background-color: rgb(31,34,39);*/
        }
       .tuijian #zibian{
        border:none;
        }
       .tuijian #xian{
        position: relative;
        top: -10px;

        }
        .classify ul{
        position: absolute;
        top: 168px;
        left: 813px;
        }
       .classify ul li{
        float: left;
        color: gray;
        font-size: 12px;
        margin-left: 40px;
        font-family: '微软雅黑';
        cursor: pointer;
        }
        /*.classify ul li a{
        float: left;
        color: gray;
        font-size: 12px;
        margin-left: 40px;
        font-family: '微软雅黑';

        }*/
        .classify ul .moren2 {
            color: black;
        }
        .tj_bottom{
            width: 100%;
            height:590px;
            position: relative;
            top: 218px; 
        }
        .tj_bottom .mrtj,.gsdh,.rmgd{
            width: 1000px;
            height: 590px;            
            position: absolute;
            top: 0px;
            left: 460px;
            /*border:1px solid red;*/
        }
        .tj_bottom .mrtj {
            display: block;
            width: 1000px;
            height:260px;
        }
        .tj_bottom  ul li{
            float: left;
        }
        .tj_bottom  ul .num_two,.num_three,.num_four{
            margin-left: 66px;
        }       
        .tj_bottom  ul .num_one img{
            display: inline-block;
             width: 200px;
             height: 200px;             
        }
        .tj_bottom  ul li p:nth-child(2){
            position: relative;
            top: 18px;
            color: #333333;
            font-size: 14px;
            display: block;
            text-align: center;
            font-family: '微软雅黑';

        }
        .tj_bottom  ul li p:nth-child(3){
            position: relative;
            top: 24px;
            color: #999999;
            font-size: 12px;
            display: block;
            text-align: center;
            font-family: '微软雅黑';
        }
        .tj_bottom  ul:nth-child(2){
            position: relative;
            top: 30px;
        }
        .gsdh{
            display: none;
        }
        .rmgd{
            display: none;
        }
/*新碟上架*/
        .thirdly{
            width: 1920px;
            height:770px; 
            background-image: url(../imgs/shouyetou_39.png);
            position: relative;
        }
        .thirdly .tuijian{
            color: white;
        }
        .sj_bottom{
            width: 100%;
            height: 526px;
            position: absolute;
            bottom: 68px;
        }
        .sj_bottom .xgsj{
            width: 1010px;
            height: 594px;
            position: relative;
            left: 460px;
        }
        .sj_bottom .xgsj ul{
            width: 1010px;
            height:232px;
        }
        .sj_bottom .xgsj ul li{
            float: left;
            display: inline-block;
            width: 182px;
            height: 232px;
        }
        /*.sj_bottom .xgsj ul li:nth-child(1){
            position: absolute;
            top: 0;
            left: 0;
        }*/
        .sj_bottom .xgsj ul li:nth-child(1)~li{
            margin-left: 25px;
        }
        .sj_bottom .xgsj ul li span:nth-child(1) {
            display: block;
            width: 182px;
            height: 160px;
            margin: 0;
            position: relative;
        }
        .sj_bottom .xgsj ul li span:nth-child(1) img:nth-child(3){
            position: absolute;
            top: 50px;
            left: 60px;
            display: none;
        }
        .sj_bottom .xgsj ul li span:nth-child(1) img:nth-child(4){
            position: absolute;
            top: 0px;
            right: -25px;
            display: none;
        }
        .sj_bottom .xgsj ul li span:nth-child(1) img:nth-child(1){
            width: 160px;
            height: 160px;
            float: left;
        }
        .sj_bottom .xgsj ul li span:nth-child(1) img:nth-child(2){
            float: right;
        }
        .sj_bottom .xgsj ul li span:nth-child(2) {
            display: block;
            width: 182px;
            height: 72px;
            background-color: rgb(27,27,27);
            color: #999999;
            font-family: '微软雅黑';
            text-align: center;
            font-size: 17px;
        }
        .sj_bottom .xgsj ul li span:nth-child(2) p:nth-child(1){
            color: #eeeeee;
            position: relative;
            top: 10px;
        }
        .sj_bottom .xgsj ul li span:nth-child(2) p:nth-child(2){
            
            position: relative;
            top: 14px;
        }
        .sj_bottom .xgsj ul:nth-child(2){
            position: relative;
            top: 50px;
        }
/*排行榜*/
        .fourthly{
            width: 100%;
            height: 672px;
            background-color: #eeeeee;
            position: relative; 
            color: white; 
        }
        .fourthly .tuijian{
            position: relative;
            top: 75px;
        }
        .fourthly span:nth-child(2){
            color: #333333;

        }
        .fourthly .phb{
            width: 1000px;
            height: 370px;
            /*border:1px solid red; */
            position: absolute;
            bottom: 100px;
            left: 460px;
        }
        .fourthly .phb ul li{
            display:block;
            width: 250px;
            height: 370px;
            /*border:1px solid red;*/
            float: left;
            background-color:black;
            text-align: center;
            position: relative; 
        }
        .fourthly .phb ul li a{
            color: #ccc;
            /*display: block;
            text-align: left;*/
        }
        .fourthly .phb ul li p{
            color: gray;
            font-size: 12px;
        }
        .fourthly .phb ul li p:nth-child(1){
            display: block;
            color:#ededed;
            font-size: 18px;
            font-family: '微软雅黑';
            /*text-align: center;*/
            position: relative;
            top: 30px;
            /*left: 50%;*/
        }
        .fourthly .phb ul li p:nth-child(2){
            display: block;
            color:#ededed;
            font-size: 30px;
            font-family: '微软雅黑';
            position: relative;
            top: 26px;
        }
        .fourthly .phb ul li span:nth-child(3){
            display: block;
            position: relative;
            top: 38px;
        }
        /*.fourthly .phb ul li:nth-child(1) span:nth-child(3) a{
            position: absolute;
        }*/
        .fourthly .phb ul li span:nth-child(4){
            display: block;
            position: relative;
            top: 55px;
            left: 63px;
            /*border:1px solid red;*/
            width: 200px;
            text-align: left;
            font-size: '微软雅黑';
        }
        .fourthly .phb ul li span:nth-child(4) a:nth-child(3){
            display: block;
            position: relative;
            /*left:15px;*/
            top: 10px; 
            font-size: '微软雅黑';

        }
        .fourthly .phb ul li span:nth-child(4) a:nth-child(5){
            display: block;
            position: relative;
            /*left:15px;*/
            top: 24px; 
            font-size: '微软雅黑';

        }
        .fourthly .phb ul li span:nth-child(4) a:nth-child(7){
            display: block;
            position: relative;
            /*left:15px;*/
            top: 34px; 
            font-size: '微软雅黑';

        }
        .fourthly .phb ul li span:nth-child(4) p:nth-child(2){
            font-size: 12px;
            color: gray;
            position: relative;
            left: 15px;
            top: 3px;
            font-family: '微软雅黑';

        }
        .fourthly .phb ul li span:nth-child(4) p:nth-child(4){
            display: block;
            position: relative;
            left:15px; 
            top: 16px;
            font-family: '微软雅黑';
            

        }
        .fourthly .phb ul li span:nth-child(4) p:nth-child(6){
            display: block;
            position: relative;
            left:15px; 
            top: 28px;
            font-family: '微软雅黑';
            

        }
        .fourthly .phb ul li span:nth-child(4) p:nth-child(8){
            display: block;
            position: relative;
            left:15px; 
            top: 40px;
            font-family: '微软雅黑';
            

        }
        .fourthly .phb ul li:nth-child(2) span:nth-child(3){
            display: block;
            position: relative;
            top: 38px;
            left: 95px;
            /*border:2px solid red;*/
            width: 45px;
            height: 45px;
            font-family: '微软雅黑';
           

        }
        .fourthly .phb ul li:nth-child(2) span:nth-child(3) span{
            display: block;
            position: absolute;
            top: 22px;
            font-family: '微软雅黑';
            
            
            border:1px solid gray;
            width: 45px;
            /*height: 45px;*/
        }
        .fourthly .phb ul li:nth-child(3) span:nth-child(3){
            display: block;
            position: relative;
            top: 38px;
            left: 95px;
            /*border:2px solid red;*/
            width: 45px;
            height: 45px;
            font-family: '微软雅黑';
            

        }
        .fourthly .phb ul li:nth-child(3) span:nth-child(3) span{
            display: block;
            position: absolute;
            top: 22px;
            font-family: '微软雅黑';
            
            
            border:1px solid gray;
            width: 45px;
            /*height: 45px;*/
        }
        .fourthly .phb ul li:nth-child(4) span:nth-child(3){
            display: block;
            position: relative;
            top: 38px;
            left: 95px;
            /*border:2px solid red;*/
            width: 45px;
            height: 45px;
        }
        .fourthly .phb ul li:nth-child(4) span:nth-child(3) span{
            display: block;
            position: absolute;
            top: 22px;
            font-family: '微软雅黑';
            
            border:1px solid gray;
            width: 45px;
            /*height: 45px;*/
        }
        .fg_one{
            width: 58px;
            height: 80px;
            background-color: #eeeeee;
            position: absolute;
            top: 172px;
            left: 430px;
            transform:rotate(43deg); 
        }
        .fg_two{
            width: 72px;
            height: 74px;
            background-color: #eeeeee;
            position: absolute;
            top: 163px;
            left: 673px;
            transform:rotate(43deg); 
        }
        .fg_two{
            width: 72px;
            height: 74px;
            background-color: #eeeeee;
            position: absolute;
            top: 163px;
            left: 680px;
            transform:rotate(43deg); 
        }
        .fg_three{
            width: 72px;
            height: 74px;
            background-color: #eeeeee;
            position: absolute;
            top: 163px;
            left: 921px;
            transform:rotate(43deg); 
        }
        .fg_four{
            width: 72px;
            height: 74px;
            background-color: #eeeeee;
            position: absolute;
            top: 163px;
            left: 1168px;
            transform:rotate(43deg); 
        }
        .fg_five{
            width: 81px;
            height: 78px;
            background-color: #eeeeee;
            position: absolute;
            top: 163px;
            left: 1420px;
            transform:rotate(43deg); 
        }
        .fg_six{
            width: 88px;
            height: 78px;
            background-color: #eeeeee;
            position: absolute;
            top: 535px;
            left: 413px;
            transform:rotate(45deg); 
        }
        .fg_seven{
            width: 75px;
            height: 76px;
            background-color: #eeeeee;
            position: absolute;
            top: 535px;
            left: 682px;
            transform:rotate(45deg); 
        }
        .fg_eight{
            width: 75px;
            height: 76px;
            background-color: #eeeeee;
            position: absolute;
            top: 535px;
            left: 925px;
            transform:rotate(45deg); 
        }
        .fg_nine{
            width: 75px;
            height: 76px;
            background-color: #eeeeee;
            position: absolute;
            top: 535px;
            left: 1173px;
            transform:rotate(45deg); 
        }
        .fg_ten{
            width: 75px;
            height: 76px;
            background-color: #eeeeee;
            position: absolute;
            top: 535px;
            left: 1423px;
            transform:rotate(45deg); 
        }
/*各大频道*/
        .fivthly{
            width: 1920px;
            height: 772px;
            background-color: #333434;
            position: relative;
        }
        .fivthly .classification1 ul{
        position: absolute;
        top: 155px;
        left: 693px;
        }
        .fivthly .classification1 ul li{
        float: left;
        display: block;
        position: relative;
        }
        .fivthly .classification1 ul li a{
        float: left;
        color: #d9d9d9;
        font-size: 12px;
        margin-left: 40px;
        font-family: '微软雅黑';

        }
        .fivthly .classification1 ul li:nth-child(3){
           position: relative;
           left: -14px;
        }
        .fivthly .classification1 ul li:nth-child(4){
           position: relative;
           left: -28px;
        }
        .fivthly .classification1 ul li:nth-child(5){
           position: relative;
           left: -28px;
        }
        .fivthly .classification1 ul li:nth-child(6){
           position: relative;
           left: -28px;
        }
        .fivthly .classification1 ul li:nth-child(7){
           position: relative;
           left: -42px;
        }
        .fivthly .classification1 ul .moren1 a{
        color: #ededed;
        }
        .fivthly .all {
            width: 1000px;
            height: 369px;
            /*padding: 7px;*/
            border: 1px solid #ccc;
            margin:  auto;
            position: relative;
            top: 219px;
        }

        .fivthly .screen {
            width: 1000px;
            height: 370px;
            overflow: hidden;
            position: relative;
        }

        .fivthly .screen ul li {
            width: 1000px;
            height: 370px;
            overflow: hidden;
            float: left;
        }
        .fivthly .screen ul li span{
            display: block;
            background-color:black;
            width: 250px;
            height: 120px;
            position: absolute;
            bottom: 0;
            color: #ccc;
            text-align: center;
            /*line-height: 120px; */
        }
        .fivthly .screen ul li span p:nth-child(1){
            display: block;
            position: relative;
            top:30px; 
            font-family: '微软雅黑';
            font-size: 14px;

        }
        .fivthly .screen ul li span p:nth-child(2){
            display: block;
            position: relative;
            top:40px;
            font-family: '微软雅黑';
            font-size: 12px;
            color: gray; 
        }
        .fivthly .screen ul li span:nth-child(6) p:nth-child(1){
            color: black;
        }
        .fivthly .screen ul li:nth-child(1) span:nth-child(6){
            position: absolute;
            left: 250px;
            background-color:rgb(231,168,12); 
        }
        
        .fivthly .screen ul li:nth-child(1) span:nth-child(7){
            position: absolute;
            left: 500px;
        }
        .fivthly .screen ul li:nth-child(1) span:nth-child(8){
            position: absolute;
            left: 750px;
        }

        
        .fivthly .screen ul li:nth-child(2) span:nth-child(6){
            position: absolute;
            left: 1250px;
            background-color:rgb(231,168,12); 
        }
        
        .fivthly .screen ul li:nth-child(2) span:nth-child(7){
            position: absolute;
            left: 1500px;
        }
        .fivthly .screen ul li:nth-child(2) span:nth-child(8){
            position: absolute;
            left: 1750px;
        }
        
         .fivthly .screen ul li:nth-child(3) span:nth-child(6){
            position: absolute;
            left: 2250px;
            background-color:rgb(231,168,12); 
        }
        
        .fivthly .screen ul li:nth-child(3) span:nth-child(7){
            position: absolute;
            left: 2500px;
        }
        .fivthly .screen ul li:nth-child(3) span:nth-child(8){
            position: absolute;
            left: 2750px;

        }
      /*  .cloneN li span:nth-child(5){
            position: absolute;
            left: 3250px;
        }*/
        .fivthly .screen ul .cloneN  span:nth-child(6){
            position: absolute;
            left: 3250px;
            background-color: rgb(231,168,12);
        }
        .fivthly .screen ul .cloneN  span:nth-child(7){
            position: absolute;
            left: 3500px;
        }
        .fivthly .screen ul .cloneN  span:nth-child(8){
            position: absolute;
            left: 3750px;
        }
        .fivthly .screen ul li img{
            float: left;
            display: inline-block;  
            overflow: hidden;
        }
        .fivthly .screen ul {
            position: absolute;
            left: 0;
            top: 0px;
            width: 4000px;
        }

        .all ol {
            position: absolute;
            left: 415px;
            bottom: 0px;
            line-height: 20px;
            text-align: center;
            z-index: 999;
        }

        .all ol li {
            float: left;
            width: 30px;
            height: 1px;
            background: #9f9fa0;
            border: 1px solid #ccc;
            margin-left: 20px;
            cursor: pointer;
            z-index: 999;
        }

        .all ol li.current {
            background: #eeeeee;
            height: 2px;
        }
        .arr {
            width: 200px;
            height: 200px;
            /*border:1px solid red;*/
        }
        .arr .right img:nth-child(1){
            width: 64px;
            height: 100px;
            position: relative;
            left: 1370px;
            top: -250px;
            cursor: pointer;
            opacity: 0.5;
            /*display: block;*/
            /*border:1px solid red;*/
            /*display: block;*/
        }
        .arr .right img:nth-child(2){
            position: relative;
            left: 1295px;
            top: -250px;
            display: none;
        }
        .arr .left img:nth-child(1){
            width: 64px;
            height: 100px;
            position: relative;
            right: 530px;
            top: -250px;
            cursor: pointer;
            opacity: 0.5;
            transform: rotate(180deg);
            /*display: block;*/
        }
        .arr .left img:nth-child(2){
            position: relative;
            right: 595px;
            top: -250px;
            /*display: none;*/
        }
        .arr .right {
            right: 5px;
            left: auto;
        }
/*乐坛动态*/
        .sixthly{
            width: 1920px;
            height: 770px;
            border:1px solid red;
            background-color: #eeeeee;
            position: relative;
        }
        /*.sixthly .tuijian{
            position: relative;
            top: 75px;
        }*/
        .sixthly span:nth-child(2){
            color: #333333;

        }
        .slide {
            height:770px;
            position: relative;
            left: 420px;
            top: 144px;
        }
        .slide ul li{
            position: absolute;
            left:200px;
            top:0;
            cursor: pointer;
        }
        .slide li img:nth-child(1){
            width:100%;
        }
        .slide li img:nth-child(2){
            position: relative;
            left: 47%;
            top: -210px;
        }
        .slide ol {
            width: 500px;
            height: 10px;
            /*line-height: 20px;*/
            /*text-align: center;*/
            z-index: 999;
            /*border: 1px solid #ccc;*/
            position: absolute;
            bottom: 290px;
            left: 400px;
        }
        .slide ol li {
            display: block;
            float: left;
            width: 40px;
            height: 1px;
            background: #ccc;
            border: 1px solid #ccc;
            margin-left: 20px;
            cursor: pointer;
            z-index: 999;
        }
        .slide ol li:nth-child(3){
            height: 3px;
            background: #9f9fa0;
        }
        .shuoming{
            display: block;
            position: relative;
            width: 100%;
            height: 90px;
            background-color: black;
            opacity: 0.5;
            z-index: 999;
            position: relative;
            top: -140px;
            color: white;
        }
        .shuoming p:nth-child(1){
            display: block;
            position: relative;
            top: 20px;
        }
        .shuoming p:nth-child(2){
            display: block;
            position: relative;
            top: 28px;
        }
        .arrow{
            opacity: 1;
        }
        .next{
            width:76px;
            height:112px;
            position: absolute;
            top:33%;
            margin-top:-56px;
            background: url(../imgs/shouye_13.png) no-repeat;
            /*transform: rotate(180deg);*/
            z-index: 99;
        }
        .prev{
            width:76px;
            height:112px;
            position: absolute;
            top:33%;
            left: -430px;
            margin-top:-56px;
            background: url(../imgs/shouye_13.png) no-repeat;
            transform: rotate(180deg);
            z-index: 99;
        }
        .next{

            right:430px;
            background-image: url(../imgs/shouye_13.png);
        }

        .six_bottom{
            width: 800px;
            height: 50px;
            position: absolute;
            bottom: 71px;
            left: 680px;
            line-height: 80px;
        }
        .six_bottom ul li{
            float: left;
            margin-left: 62px;
            font-family: '微软雅黑';
            font-size: 16px;
            color: #9f9fa0;
        }
/*底部*/
        .bottom_box{
    	width: 1920px;
    	height: 180px;
    	background-color: #333;
        }
        .bottom_box .bottom_message{
    	padding-top: 42px;
    	text-align: center;
    	font-size: 12px;
    	color: #ededed;
        }
        .bottom_box .bottom_message a{
        text-align: center;
        margin-right: 8px;
        margin-left: 8px;
    	font-size: 12px;
      	color: #ededed;
        }
        .bottom_box .bottom_message .copyright{
    	font-size: 16px
        }
        .bottom_box .bottom_message a:last-child{
    	margin-right: 50px;
        }
        .bottom_box .company_message{
    	padding-top: 30px;
    	text-align: center;
    	font-size: 12px;
    	color: #ededed;
    	padding-bottom: 38px;
        }
        .bottom_box .bottom_bottom{
        width: 1920px;
        height: 40px;
        background-color: #282828;
        }
        .bottom_box .bottom_bottom .img{
        position: relative;
        top: 3px;
        }

